#fichelogement
    .fichelogement--divimage
        display: flex
        justify-content: center
        align-items: center
        height: 400px
        overflow: hidden
        img
            width: 100%
    .info-logement
        display: flex
        flex-direction: row
        .info-logement-gauche, .info-logement-droit
            width: 50%
        .info-logement-gauche
            h1
                color: #FF6060
            &-tagscontainer
                display: flex
                flex-direction: row
                gap: 10px
                &-tags
                    display: flex
                    justify-content: center
                    min-width: 100px
                    padding: 0 10px 0 10px
                    border-radius: 10px
                    background-color: #FF6060
                    color: white
        .info-logement-droit
            display: flex
            align-items: flex-end
            flex-direction: column
            &-host
                display: flex
                align-items: center
                gap: 8px
                p
                    display: flex
                    text-align: end
                    align-items: center
                    width: 5rem
                    color: red
                    font-size: 1.2rem
                img
                    border-radius: 50%
                    height: 4rem
            &-hostrating
                i
                    color: #FF6060
    .zoneDeroulant
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 50px
        .collapsible
            width: 50%
