#fichelogement
    .fichelogement--divimage
        display: flex
        justify-content: center
        align-items: center
        height: 400px
        overflow: hidden
        img
            width: 100%
    .info-logement
        display: flex
        flex-direction: row
        margin-bottom: 20px
        .info-logement-gauche, .info-logement-droit
            width: 50%
        .info-logement-gauche
            font-size: 13px
            h1
                color: #FF6060
                margin: 0
            h2
                margin: 0
            &-tagscontainer
                display: flex
                flex-direction: row
                gap: 10px
                margin-top: 20px
                &-tags
                    display: flex
                    justify-content: center
                    align-items: center
                    min-width: 100px
                    border-radius: 10px
                    background-color: #FF6060
                    color: white
                    padding: 0 10px 0 10px
                    margin: 0
        .info-logement-droit
            display: flex
            align-items: flex-end
            flex-direction: column
            &-host
                display: flex
                align-items: center
                gap: 8px
                p
                    display: flex
                    text-align: end
                    align-items: center
                    width: 5rem
                    color: red
                    font-size: 1.2rem
                img
                    border-radius: 50%
                    height: 4rem
            &-hostrating
                i
                    color: #FF6060
        @media screen and ( max-width: $layout-breakpoint-small )
            flex-direction: column
            .info-logement-gauche, .info-logement-droit
                width: 100%
            .info-logement-gauche
                &-tagscontainer
                    flex-wrap: wrap
                    gap: 10px

                    &-tags
                        width: 1rem
                        min-height: 18px
                        border-radius: 5px

            .info-logement-droit
                flex-direction: row-reverse
                justify-content: space-between
                align-items: center
                &-host
                    p
                        font-size: 1rem
                    img
                        height: 3rem
                &-hostrating
                    font-size: 1rem

    .zoneDeroulant
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 50px
        .collapsible
            width: 50%
        @media screen and ( max-width: $layout-breakpoint-small )
            flex-direction: column
            gap: 20px
            .collapsible
                width: 100%
