header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px auto 50px auto;
}
header img {
  height: 68px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
}
header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#fichelogement .fichelogement--divimage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 400px;
  overflow: hidden;
}
#fichelogement .fichelogement--divimage img {
  width: 100%;
}
#fichelogement .info-logement {
  display: flex;
  flex-direction: row;
}
#fichelogement .info-logement .info-logement-gauche, #fichelogement .info-logement .info-logement-droit {
  width: 50%;
}
#fichelogement .info-logement .info-logement-gauche h1 {
  color: #FF6060;
}
#fichelogement .info-logement .info-logement-droit {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#fichelogement .info-logement .info-logement-droit .info-logement-droit-host {
  display: flex;
  align-items: center;
  gap: 8px;
}
#fichelogement .info-logement .info-logement-droit .info-logement-droit-host p {
  display: flex;
  text-align: end;
  align-items: center;
  width: 5rem;
  color: red;
  font-size: 1.2rem;
}
#fichelogement .info-logement .info-logement-droit .info-logement-droit-host img {
  border-radius: 50%;
  height: 4rem;
}
#fichelogement .info-logement .info-logement-droit .info-logement-droit-hostrating i {
  color: #FF6060;
}
#fichelogement .zoneDeroulant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
#fichelogement .zoneDeroulant .collapsible {
  width: 50%;
}

.APropos .APropos-deroulant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.APropos .APropos-deroulant .collapsible {
  width: 90%;
}

.mainError {
  color: red;
  text-align: center;
}
.mainError h1 {
  font-size: 10rem;
  margin: 0;
}
.mainError a {
  margin-top: 3rem;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: #F6F6F6;
  background-image: url("");
  gap: 50px;
  margin: 25px 0 25px 0;
  padding: 56px 50px 56px 50px;
}
#cards a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  flex-grow: 1;
  height: 340px;
  border-radius: 10px;
}
#cards a article {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 1;
  width: 25%;
  height: 340px;
  padding: 10px;
  border-radius: 10px;
}
#cards a article h2 {
  display: flex;
  width: 50%;
  color: white;
  font-size: 1rem;
}

.Banner {
  margin-bottom: 2rem;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 230px;
  border-radius: 25px;
}
.Banner h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  width: 100%;
  height: 230px;
  font-size: 48px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Carroussel {
  display: none;
}

.collapsible {
  display: flex;
  flex-direction: column;
}
.collapsible .collapsible-divbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #FF6060;
  color: white;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
.collapsible .collapsible-divbutton .collapsible-button {
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  outline: none;
  color: white;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-down-rotated {
  animation: rotate-down 0.2s linear forwards;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-up-rotated {
  animation: rotate-up 0.2s linear forwards;
}
.collapsible .collapsible-content {
  padding: 0 18px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(246, 246, 246, 0.4509803922);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.collapsible .collapsible-content.active {
  max-height: 500px;
}

@keyframes rotate-down {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate-up {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

header, main {
  width: 100%;
  max-width: 1280px;
}

main {
  margin: 0 auto 0 auto;
}

footer {
  width: 100%;
}/*# sourceMappingURL=index.css.map */