// @use ou @import, se renseigner

@import "../layout/_header"
@import "../layout/_footer"
@import "../pages/home/_home"
@import "../pages/fiche_logement/_fichelogement"
@import "../pages/APropos/_aPropos"
@import "../pages/NotFound/_error"
@import "../components/Card/_Card"
@import "../components/Banner/_Banner"
@import '../components/caroussel/_Caroussel'

:root
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
    line-height: 1.5
    font-weight: 400

.main-container
    width: 100%
    max-width: 1280px
a
    text-decoration: none

body
    display: flex
    justify-content: center
    margin: 0
    padding: 0
