header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px auto 50px auto;
}
header img {
  height: 68px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
}
header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#fichelogement .fichelogement--divimage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 400px;
  overflow: hidden;
}
#fichelogement .fichelogement--divimage img {
  width: 100%;
}
#fichelogement .info-logement {
  display: flex;
  flex-direction: row;
}
#fichelogement .info-logement .info-logement-gauche, #fichelogement .info-logement .info-logement-droit {
  width: 50%;
}
#fichelogement .info-logement .info-logement-gauche h1 {
  color: #FF6060;
}
#fichelogement .info-logement .info-logement-gauche-tagscontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#fichelogement .info-logement .info-logement-gauche-tagscontainer-tags {
  display: flex;
  justify-content: center;
  min-width: 100px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  background-color: #FF6060;
  color: white;
}
#fichelogement .info-logement .info-logement-droit {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#fichelogement .info-logement .info-logement-droit-host {
  display: flex;
  align-items: center;
  gap: 8px;
}
#fichelogement .info-logement .info-logement-droit-host p {
  display: flex;
  text-align: end;
  align-items: center;
  width: 5rem;
  color: red;
  font-size: 1.2rem;
}
#fichelogement .info-logement .info-logement-droit-host img {
  border-radius: 50%;
  height: 4rem;
}
#fichelogement .info-logement .info-logement-droit-hostrating i {
  color: #FF6060;
}
#fichelogement .zoneDeroulant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
#fichelogement .zoneDeroulant .collapsible {
  width: 50%;
}

.APropos .APropos-deroulant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.APropos .APropos-deroulant .collapsible {
  width: 90%;
}

.mainError {
  color: red;
  text-align: center;
}
.mainError h1 {
  font-size: 10rem;
  margin: 0;
}
.mainError a {
  margin-top: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  border-radius: 25px;
  background-color: #F6F6F6;
  background-image: url("");
  margin: 25px 0 25px 0;
  padding: 56px 50px 56px 50px;
}
.cards a, .cards article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 340px;
  border-radius: 10px;
}
.cards a h2, .cards article h2 {
  padding: 10px;
  width: 50%;
  color: white;
  font-size: 1rem;
}
.cards__gradient {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.2) 99.99%, rgba(0, 0, 0, 0.5) 100%);
}

.Banner {
  margin-bottom: 2rem;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 230px;
  border-radius: 25px;
}
.Banner h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  width: 100%;
  height: 230px;
  font-size: 48px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Carroussel {
  display: none;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 420px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}
.slideshow-container .mySlides {
  display: none;
  width: 100%;
}
.slideshow-container .mySlides img {
  width: 100%;
}
.slideshow-container .prev, .slideshow-container .next {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.collapsible {
  display: flex;
  flex-direction: column;
}
.collapsible .collapsible-divbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #FF6060;
  color: white;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
.collapsible .collapsible-divbutton .collapsible-button {
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  outline: none;
  color: white;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-down-rotated {
  animation: rotate-down 0.2s linear forwards;
}
.collapsible .collapsible-divbutton .collapsible-button .icon-up-rotated {
  animation: rotate-up 0.2s linear forwards;
}
.collapsible .collapsible-content {
  padding: 0 18px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(246, 246, 246, 0.4509803922);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.collapsible .collapsible-content.active {
  max-height: 500px;
}

@keyframes rotate-down {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate-up {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

header, main {
  width: 100%;
  max-width: 1280px;
}

main {
  margin: 0 auto 0 auto;
}

footer {
  width: 100%;
}/*# sourceMappingURL=index.css.map */