#cards
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    border-radius: 25px
    background-color: #F6F6F6
    background-image: url('')
    gap: 50px
    margin: 25px 0 25px 0
    padding: 56px 50px 56px 50px
    a
        display: flex
        justify-content: center
        align-items: center
        width: 25%
        flex-grow: 1
        height: 340px
        border-radius: 10px
        article
            display: flex
            align-items: flex-end
            justify-content: flex-start
            flex-grow: 1
            width: 25%
            height: 340px
            padding: 10px
            border-radius: 10px
            h2
                display: flex
                width: 50%
                color: white
                font-size: 1rem
