$button-height: 50px
$button-height-small: 30px
$temps-animations: 0.3s

.collapsible
    display: flex
    flex-direction: column
    position: relative
    .collapsible-divbutton
        position: absolute
        z-index: 1
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 100%
        height: $button-height
        background-color: #FF6060
        color: white
        border-radius: 5px 5px 5px 5px
        @media screen and ( max-width: $layout-breakpoint-small )
            font-size: 1rem
            font-weight: 600
            height: $button-height-small
        p
            padding-left: 10px

        .collapsible-button
            cursor: pointer
            border: none
            background: none
            text-align: left
            outline: none
            color: white
            margin-right: 10px
            font-size: 1.5rem
            .icon-down-rotated
                animation: rotate-down $temps-animations linear forwards
            .icon-up-rotated
                animation: rotate-up $temps-animations linear forwards
            &:focus
                border: solid 1px #F6F6F673

    .collapsible-content
        z-index: 0
        background-color: #F6F6F673
        max-height: 0
        width: 100%
        overflow: hidden
        transition: max-height $temps-animations ease-out
        padding-top: $button-height
        border-radius: 5px 5px 5px 5px
        @media screen and ( max-width: $layout-breakpoint-small )
            padding-top: $button-height-small
        p
            padding: 0 20px 0 20px

        &.active
            max-height: 500px

    .collapsible-content, .collapsible-divbutton
        &.inactive
            animation: radius10to5 $temps-animations linear forwards
        &.active
            animation: radius5to10 $temps-animations linear forwards

@keyframes rotate-down
    from
        transform: rotate(360deg)
    to
        transform: rotate(180deg)

@keyframes rotate-up
    from
        transform: rotate(180deg)
    to
        transform: rotate(360deg)

@keyframes radius5to10
    from
        border-radius: 5px 5px 5px 5px
    to
        border-radius: 10px 10px 5px 5px
        @media screen and ( max-width: $layout-breakpoint-small )
            border-radius: 5px 5px 5px 5px

@keyframes radius10to5
    from
        border-radius: 10px 10px 5px 5px
        @media screen and ( max-width: $layout-breakpoint-small )
            border-radius: 5px 5px 5px 5px
    to
            border-radius: 5px 5px 5px 5px
