header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-end;
}

header nav a {
  padding: 15px;
}
