header
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 45px auto 50px auto
    img
        height: 68px
    nav
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 15rem
        a
            display: flex
            justify-content: center
            align-items: center
            padding: 15px
        .active
            text-decoration: underline
